body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #fbfbfb;
  background-color: #0e1823;
}

/* Скидання */
a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Стилі базового контейнера */
.container {
  max-width: 375px;
  padding: 20px 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 50px 0;
  }
}
